
.home-body-container{
    
    width:100%;
    height: 100%;
    border: 1px dotted red;
}
.home-body-container .body-container{
   display: flex;
    width:100%;
    height: 100%;
    border: 2px dotted green;
}
.home-body-container .body-container .columns{
    display: flex;
    width: 100%;
    height: 100%;
}



.columns .nav-column{
    
   position: sticky;
    top: 0;
    align-content: center;
    justify-items: center;
    width: 20%;
    background: coral;
   height: 100%;

}

li{
    
    height: 25%;
    margin: 10px 0;
    text-align: center;
    list-style: none;
    border: 1px dotted green;
}
li a{
    text-decoration: none;
}
.columns .display-column{
    width: 80%;
    background: green;
    height: 100%;
}

.section-defined{
    
    width: 100%;
    height: 100%;
    background-color: yellow;
}
#section1{
    background: red;
    height: 700px;
}

.in-link{
    display: flex;
    width: 100%;
}
.in-link li{
    width:25%;
    height: 30%;
}
#section2{
    background: blue;
    height: 700px;
}
#section3{
    background: pink;
    height: 700px;
}
#section4{
    background: black;
    height: 700px;
}


