
    <link rel="stylesheet" href="static/css/events.css">
<body onload=" addEvents()" >
    

    <div class="eventsIntro">
       <h1>Check out our past events and our most recent and upcoming.</h1>
       <h2>Click on the RSVP button Now!! To join in.</h2>
    </div>

<div class="flex-container" id="flex-container" >
</div>
<!--
<div id="form">

    <form onsubmit="return checkEmpData();" method="post" action="process.html">
    <input type="text" border="0" name="submit" />
    <button value="submit">submit</button>
  </form>
 
</div>
 -->

<script src="static/js/events.js">
</script>

</body>
