body {
    background-color: rgba(18, 24, 24, 0.5);
    color: white;
}

.eventsIntro {
    width: 60%;
    display: inline;
    text-align: center;
    background: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.flex-container>.event {
    color: white;
    background-size: cover;
    position: relative;
    width: 32%;
    margin: 0.5% 0.5%;
    box-shadow: 2px 2px 4px rgba(7, 7, 7, 0.9), -2px -2px 4px rgba(7, 7, 7, 0.9);
    text-align: center;
    font-size: 30px;
}

.flex-container .event .rsvp {
    height: 15%;
    width: 40%;
    margin: 10% auto;
}

.flex-container .event .rsvp button {
    border: 0.1px solid white;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    animation-duration: 5s;
    background: linear-gradient(20deg, rgba(18, 24, 24, 0.7), transparent, rgb(14, 10, 11));
}

.flex-container .event .rsvp button:hover {
    box-shadow: inset 2px 2px 3px white, inset -2px -2px 3px white;
    color: black;
}

.flex-container .event .rsvp button p {
    margin: 10% 0;
    height: 100%;
    width: 100%;
    font-weight: 800;
}

.flex-container .event .eventName {
    margin-top: 30%;
}

.flex-container .event .eventName p {
    margin: 0;
}

.flex-container .event .eventdesc {
    font-size: 20px;
    height: 30%;
    margin-top: 3%;
}

.flex-container .event .eventdesc p {
    font-size: 80%;
    font-weight: 600;
}


/* Adjudt button height to look beter on screen*/
@media only screen and (max-width: 450px) {

    .flex-container .event .eventdesc p {
        font-size: 40%;
        font-weight: 600;
    }
    .flex-container .event .eventdesc p {
        font-size: 40%;
        font-weight: 600;
    }
    .flex-container .event .rsvp {
        height: max-content;
        width: max-content;
        font-size: 10px;
    }
    .flex-container .event .eventName {
        font-size: 18px;
    }    

}