
.shop-layout-creator{
    display: flex;
    width: 100%;
    height: 100%;
}

.shop-layout-creator #navAndDisplay0 + #navAndDisplay1{
    display: inline;
    margin: 1% 1%;
    
}
.shop-layout-creator .navAndDisplay0{
    top: 0;
    position: sticky;
    margin-left: 1px;
    height: 40%;
    width: 25%;
    box-shadow: inset 2px 2px 2px rgba(11, 33, 22, 0.6);
    
}
.shop-layout-creator .navAndDisplay1{
    box-shadow: -2px -2px 3px rgba(11, 33, 22, 0.6), 2px 2px 3px rgba(11, 33, 22, 0.6);
    background: rgba(2, 24, 13, 0.5);
    height: 100%;
    width: 74%;
}

.displayLayout{
    height: 100%;
    width: 100%;
}
/* Sections and their colors*/


.displayLayout #SkateBoardsR{
    
    background: pink;
}
.displayLayout #T-ShirtsR{
    display: none;
    background: red;
}
.displayLayout #HoodiesR{

   display: none;
    background: green;
}
.displayLayout #KnitsR{
    display: none;
    background: blue;
}
.displayLayout #PantsR{
    display: none;
    background: yellow;
}
.displayLayout #ShortsR{
    display: none;
    background: burlywood;
}


.shop-layout-creator .navAndDisplay0 #navListItems{
    
    display: flex;
    width: 100%;
    box-shadow: 2px 2px 3px rgba(11, 33, 22, 0.6);
}
.shop-layout-creator .navAndDisplay0 #navListItems .linkListItem{
    
    text-decoration: none;
    display: flex;
    margin: 6% 5%;
    width: 100%;
    height: 100%;
}
.shop-layout-creator .navAndDisplay0 #navListItems .linkListItem p{
    margin: auto auto;
}



.shop-layout-creator .navAndDisplay1 .displayLayout{ 
    display: inline;
    width: 100%;
    height: 20%;

}
.shop-layout-creator .navAndDisplay1 .displayLayout .displayLayoutNavCo{ 
    top: 0;
    background: black;
    position: sticky;
    margin-top: 1%;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 15%;

}
.shop-layout-creator .navAndDisplay1 .displayLayout .displayLayoutNavCo li{ 
    color: white;
    
    box-shadow:  2px 2px 3px  rgba(11, 33, 22, 0.6);
    background: rgba(2, 24, 13, 0.9);
    display: flex;
    width: 100%;
    height: 15%;
    
}
.shop-layout-creator .navAndDisplay1 .displayLayout .displayLayoutNavCo li a{ 
    color: aliceblue;
    font-size: 110%;
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.shop-layout-creator .navAndDisplay1 .displayLayout .displayLayoutNavCo li a{ 
  margin: 5% 5%;  
  height: 100%;
}


.shop-layout-creator .navAndDisplay1 .displayLayout .displayLayoutBody{ 
   
    margin-top: 2%;
    margin-left: 1%;  
  }

  

.sub-sections{
    height: 100px;
    
}
#skateboard0{
    background: red;
    
}
#skateboard1{
    background: green;
    display: none;
}
#skateboard2{
    background: blue;
    display: none;
}

#skateboard3{
    background: yellow;
    display: none;
}
#skateboard4{
    background: black;
    display: none;
}

#shirts0{
    background: grey;
    
}
#shirts1{
    background: blue;
    display: none;
}#shirts2{
    background: pink;
    display: none;
}#shirts3{
    background: white;
    display: none;
}
#hoodies0{
    background: brown;
    
}
#hoodies1{
    background: darkcyan;
    display: none;
}
#hoodies2{
    background: grey;
    display: none;
}
#knits0{
    background: darkmagenta;
    
}
#knits1{
    background: mediumaquamarine;
    display: none;
}
#pants0{
    background: mediumaquamarine;
    
}#pants1{
    background: midnightblue;
    display: none;
}#pants2{
    background: mediumaquamarine;
    display: none;
}
#shorts0{
    background: navy;
    
}
#shorts1{
    background: mediumaquamarine;
    display: none;
}







  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    
  }
  
  
  .flex-container > .event {
      color: white;
      background-size:cover;
      
      width: 32%;
      height: 100%;
      margin: 0.5% 0.5%;
      box-shadow:  2px 2px 4px rgba(7, 7, 7, 0.9), -2px -2px 4px rgba(7, 7, 7, 0.9) ;
      text-align: center;
      font-size: 30px;
  }
  
  
  .flex-container .event .rsvp {
      height: 40%;
      width:40%;
      margin: 10% auto;
      
  }
  
  
  .flex-container .event .rsvp button{
     
      border: 0.1px solid white;
      color: white;
      text-align: center;
      height: 100%;
      width: 100%;
      animation-duration:5s;
      background: linear-gradient(20deg, rgba(18, 24, 24, 0.7), transparent, rgba(132, 43,155, 0.2));
  }
  .flex-container .event .rsvp  button:hover{
      box-shadow: inset 2px 2px 3px white, inset -2px -2px 3px white;
      color: blue;
      
  }
  
  
  .flex-container .event .rsvp button p{
      margin: 10% 0;
      height: 100%;
      width: 100%;
      font-weight: 800;
      
  }
  
  .flex-container .event .eventName{
      
      margin-top: 30%;
    
      
  }
  .flex-container .event .eventName p{
      margin: 0;
      
  }
  
  .flex-container .event .eventdesc{
      font-size: 20px;
      height: 30%;
      margin-top: 3%;
      
      
  }
  .flex-container .event .eventdesc p{
      font-size: 80%;
      font-weight: 600;
      
      
  }
  
  