body,
html {
    width: 100%;
    height: 100%;
    
    margin: 0 0;
    font-size: 100%;
    color: black !important;
    background: #fff;
}

.static-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
    width:100%;
}

.content{
    min-height: 700px;
    min-width: 700px;
    height: 100%;
    display: flex;
    width: 100%;
    margin-top: .3%;
}


.static-container .navContainer 
{
    box-shadow: 0px 2px rgba(11, 33, 22, 0.6);
    font-weight: 30px;
    display: flex;
    width: 100%;
    min-height: 90px;
    height: 9%;
}

.static-container .navContainer .logo-container {
    

    display: inline;
    width: 22%;
    height: 100%;
}

.static-container .navContainer #logo {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.static-container .navContainer .nav-container {

    margin: 10px;
    width: 65%;
    height: 80%;
    margin: auto auto;
    display: inline-block;
}
.static-container .navContainer .icon-container {

    width: 10%;
    height: 70%; 
    margin: auto auto;
}
.icon{
    height: 80%;
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 100%;
    border: 1.1px solid white;
    margin: auto auto;
    width: 80%;
}
.usernameT{
    height: 20%;
    text-align: center;
    font-size: 100%;
    font-weight: 900;
}
.usernameT p{
    margin: auto auto;
}


.static-container .navContainer .nav-container .nav {
    display: flex;
    font-size: 120%;
    width: 100%;
    height: 100%;
}

.static-container .navContainer .nav-container .nav .linkContainer {
    display: flex;
    width: calc(100%/5);
    text-align: center;
}

.static-container .navContainer .nav-container .linkContainer a {
    width: 100%;
    text-decoration: none;
    margin: auto auto;
   
}





.static-container .footer {
    box-shadow: inset .2px .2px 1.5px rgba(15, 11, 13, 0.8), inset -.2px -.2px 1.5px rgba(20, 18, 20, 0.8);
    display: flex;
    height: 25%;
    min-height: 170px;
    width: 100%;
}

.static-container .footer .left-footer {
    height: 100%;
    width: 60%;
}

.static-container .footer .bottom-footer {
    display: flex;
}

.static-container .footer .bottom-footer .net-divs {
    background-position: center;
    background-size: cover;
    margin: auto;
    height: 45%;
    display: inline;
    width: calc(100%/6);
    border-radius: 100%;
}

.static-container .footer .top-footer {
    text-align: center;
    height: 40%;
    width: 80%;
    margin: 1% 10%;
   
}

.static-container .footer .bottom-footer {
    display: flex;
    height: 50%;
    width: 100%;
}

.static-container .footer .right-footer {
    height: 100%;
    width: 100%;
}

.static-container .footer .right-footer .form-container {
    display: flex;
    position: sticky;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.static-container .footer .right-footer .form-inner-container {
    display: flex;
    margin: auto auto;
    height: 50%;
    width: 75%;
}

.static-container .footer .right-footer .form-inner-container form {
    display: flex;
    height: 100%;
    width: 100%;
}

.form-inner-container form button {
    display: inline-block;
    width: 50%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #fff;
}

.form-inner-container form input {
    display: inline-block;
    padding: 10px;
    font-size: 15px;

    width: 100%;
    background: #fff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

/*Login Alert*/
.login{
    display:none;
    position: absolute;
    margin-bottom: 10px;
    top:30%;
    left:28%;
    z-index: 200;
    width:50%;
    height: 50%;
}
.inner-login{
    display: flex;
    flex-direction: column;
    background: white;
   margin: auto auto;
    position: relative;
    border: 3px solid blue;
    box-shadow: -2px -2px 3px rgba(11, 33, 22, 0.6), 
    2px 2px 3px rgba(11, 33, 22, 0.6);
    z-index: 201;
    width:73%;
    height: 80%;
}
.inner-login form{
    margin: 0 0;
    width: 100%;
    height: 60%;
   display: flex;
   flex-direction: column;
}
.inner-login .login-header{
    border-bottom: 1px solid blue;
    width: 101%;
    display: flex;
    height: 20%;
    
    background: blue;
    color: white;
}
.inner-login .login-header h2{
    letter-spacing: 5px;
    margin: auto auto;
}
.inner-login input{
    display: flex;
    margin: auto auto;
    height: 20%;
    width: 80%;
    background: white;
    
}
.inner-login #email{
    border: 2px solid blue;
    width: 80%;
}.inner-login #password{
    border: 2px solid blue;
    width: 80%;
}
.inner-login #button{
    display: block;
    justify-items: center;
    font-size: inherit;
    border: 2px solid black;
    color: white;
    background: linear-gradient(80deg, transparent, black), linear-gradient(-10deg, transparent, black), blue;
    width: 50%;
}
.inner-login .forgot-register{
    color:white;
    margin: auto auto;
    border-top: 2px solid blue;
    display: flex;
    height: 20%;
    width:100%;
    background: rgba(23, 32, 217, 0.85);
}
.inner-login .register{
    display: flex;
    height: 100%;
    width:50%;   
}
.inner-login .forgot{
    display: flex;
    height: 100%;
    width:50%;   
}
.inner-login  p{
    
    text-decoration: underline;
    text-align: center;
    font-size: 11px !important;
    margin: auto auto;
}
.inner-signup .forgot{
    display: flex;
    height: 100%;
    width:50%;
    
}

/*End of log in Pop up*/
/*Start of SignIn*/

.signup{
    display:none;
    flex-direction: column;
    position: absolute;
    top:12%;
    left:18%;
    z-index: 300;
    width:70%;
    height: 80%;
    color: #fff;
}
.inner-signup{
    display: flex;
    flex-direction: column;
    background: white;
    margin: auto auto;
    position: relative;
    border: 3px solid blue;
    box-shadow: -2px -2px 3px rgba(11, 33, 22, 0.6), 
    2px 2px 3px rgba(11, 33, 22, 0.6);
    z-index: 201;
    width:70%;
    height: 80%;
}
.inner-signup form{
    
    margin-top: 4%;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.inner-signup .signup-header{
    border-bottom: 1px solid blue;
    width: 101%;
    display: flex;
    height: 18%;    
    background: blue;
    color: white;
}
.inner-signup .signup-header h2{
    letter-spacing: 5px;
    margin: auto auto;
}
.inner-signup input{
    font-size: medium;
    border: .3px solid blue;
    display: flex;
    margin: auto auto;
    height: 15%;
    margin-top: 1%;
    width: 80%;
    background: white;   
}
.inner-signup #email{
    border: 2px solid blue;
    width: 80%;
}.inner-signup #password{
    border: 1px solid blue;
    width: 20%;
    height: 20%;
}
.inner-signup #register{
    display: block;
    justify-items: center;
    font-size: inherit;
    border: 2px solid black;
    color: white;
    background: linear-gradient(80deg, transparent, black), linear-gradient(-10deg, transparent, black), blue;
    width: 40%;
    height: 20%;
}
.inner-signup .forgot-register{
    margin: auto auto;
    border-top: 2px solid blue;
    display: flex;
    height: 20%;
    width:100%;
    background: rgba(23, 32, 217, 0.9);
}
.inner-signup .register{
    display: flex;
    height: 100%;
    width:50%;   
}
.inner-signup  p{
    text-decoration: underline;
    text-align: center;
    font-size: 15px !important;
    margin: auto auto;
}

.profile{
    display: none;
    top: 0;
    position: absolute;
    z-index: 3000;
    width: 100%;
    height: 100%;
    color: #fff;
    
}
.profile-cover{
    display:flex;
    flex-direction: column;
    position: relative;
    margin: auto auto;
    z-index: 300;
    width: 100%;
    height: 100%;
    color: #fff;
    
}
.inner-profile{
    display: grid;
    grid-auto-rows: auto;
    margin: auto auto;
    height: 200px;
    width: 170px;

    border: 1px dotted black;
    background-color: rgba(22, 22, 22, 0.9);
}
.inner-profile-child{
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px dotted white;
}
#inner-profile-child0{
    display: flex;
    flex-direction: row-reverse;
}
.profile-exit{
    display: flex;
    flex-direction: row-reverse;
    height: 50%;
    width: 12%;
    border: 1px dotted white;
}
.inner-profile-child p,a{
    display: flex;
    margin: auto auto;
   
}

/*End of sign in*/
/* Adjudt button height to look beter on screen*/
@media only screen and (min-width: 800px) {
    .content{
        height: 100%;
        min-height: 1000px !important;
    }
    .static-container .navContainer{
        height: 18%;
        min-height: 120px;
        font-size: 120%;
    }
    .static-container .navContainer .icon-container {
        width: 10%;
        height: 65%; 
    }
    .icon{
        height: 70%;
        width: 37%;
    }
    .username{
        display: flex;
        height: 12%;
        text-align: center;
        font-size: 80%;
    }
    .inner-profile{
        height: 400px;
        width: 370px;
        border: 1px dotted black;
        background-color: rgba(22, 22, 22, 0.9);
    }
    .static-container .footer .bottom-footer .net-divs {
        background-position: center;
        background-size: cover;
        margin: auto;
        height: 75%;
    }
    .static-container .footer p{
        font-size: 26px;
        margin-bottom: 2%;
        margin: auto auto;
    }
    .static-container .footer {
        min-height: 220px;
    }
    html,body{
        font-size: 28px;
    }
    .signup{
        left: 30%;
        width:50%;
        height: 90%;
        color: #fff;
    }
    .inner-login{
       
        width:50%;
        height: 9   0%;
    }
}

/* Adjudt button height to look beter on screen*/
@media only screen and (max-width: 450px) {
    
    .signup{
        left: 8%;
        width:50%;
        height: 90%;
        color: #fff;
    }
    .static-container .navContainer{
        height: 8%;
        min-height: 75px;
        
    }
    .signup{
        
        width:90%;
        height: 70%;
        color: #fff;
    }

    
    .static-container .navContainer .icon-container {
        width: 10%;
        height: 60%; 
    }
    .static-container .navContainer .nav-container .nav {
        display: flex;
        font-size: 90%;
    }
    .icon{
        height: 80%;
        width: 85%;
    }
    .static-container .footer .bottom-footer{
        height: 35%;
        
    }
    .static-container .footer .bottom-footer .net-divs {
        background-position: center;
        background-size: cover;
        margin: auto;
        height: 50%;
    }
    .static-container .footer p{
        margin: 0 auto;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    html,body{
        font-size: 12px !important;
    }


    .static-container .footer {
        box-shadow: inset .2px .2px 1.5px rgba(15, 11, 13, 0.8), inset -.2px -.2px 1.5px rgba(20, 18, 20, 0.8);
        display: flex;
        height:19%;
        min-height: 140px;
        width: 100%;
    }
    .static-container .footer .top-footer {
        text-align: center;
        height: 40%;
        width: 80%;
        margin: 0 10%;
    }
    .static-container .bottom-footer{
        height: 100%;
        display: block;
           }
           .inner-login{
            display: flex;
            flex-direction: column;
            background: white;
           margin: auto auto;
            position: relative;
            border: 3px solid blue;
            box-shadow: -2px -2px 3px rgba(11, 33, 22, 0.6), 
            2px 2px 3px rgba(11, 33, 22, 0.6);
            z-index: 201;
            width:120%;
            height: 70%;
        }
    }
