<link rel="stylesheet" href="../css/home.css">

<div class="home-container">
    <div class="home-rows">
        <div id="homerows" class="home-row1">
            <div class="home-row1-2-aligner">
                <div id="row1-desc" class="descleft">This is desc left</div>
                <div id="row1-desc" class="descright">This is desc right</div>

            </div>
        </div>
        <div id="homerows" class="home-row2">
            <div class="home-row1-2-aligner">
            <button type="submit" value="" class="home-download">Download</button>

            </div>
        </div>
        <div id="homerows" class="home-row3">
            <div class="home-row1-2-aligner">
                <div id="row-pics" class="row-pic-1">
                    <h3>Brand and material</h3>
                </div>
                <div id="row-pics" class="row-pic-2">
                    <h3>Brand and material</h3>
                </div>
                <div id="row-pics" class="row-pic-2">
                    <h3>Brand and material</h3>
                </div>

            </div>
        </div>
        <div id="homerows" class="home-row4">
            <div class="remarks">
                do visit our shop for more on 
                what we offer, high quality products
                made with sustainability and durability
                 at heart.                
            </div>

        </div>

    </div>

</div>
