
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../css/shop.css">
</head>
<body>
    <div class="home-body-container">
        <div class="body-container">
            <div class="columns">
                <div class="nav-column" id="column-alignment">

                
                    <li><a href="#section1">One</a></li>
                    <li><a href="#section2">Two</a></li>
                    <li><a href="#section3">Three</a></li>
                    <li><a href="#section4">four</a></li>
               
                </div>
                <div class="display-column" id="column-alignment">
                    
                    <div class="section-defined">
                        <div class="sections" id="section1">
                            <div class="in-link">
                                <li><a href="#section1">One</a></li>
                                <li><a href="#section2">Two</a></li>
                                <li><a href="#section3">Three</a></li>
                                <li><a href="#section4">four</a></li>
                            </div>
                        </div>
                        <div class="sections" id="section2">2</div>
                        <div class="sections" id="section3">3</div>
                        <div class="sections" id="section4">4</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    
</body>
</html>

